*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: radial-gradient(circle,#08e25b,#021c37)
}
.clock{
    width:500px;
    height:500px;
    position:relative;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle,#05263c,#000d1a);
}

.clock::before{
    content:"";
    width:525px;
    height:525px;
    position:absolute;
    border-radius: 50%;
    background: linear-gradient(#fc2b0b,#add743);
    box-shadow: 0 0 15px 15px rgba(0,0,0,0.2);
    z-index:-1;
}
.number{
    transform:rotate(calc(30deg * var(--n)));
    position:absolute;
    text-align: center;
    inset:10px;
    font-size: 20px;
    color:#00d9ff;
    text-shadow: 0 0 12px #ee00ff;
} 
.number b
{
    transform:rotate(calc(-30deg * var(--n)));
    display: inline-block;
}

.hour-hand,.minute-hand,.second-hand{
    --rotate:0;
    position: absolute;
    left:50%;
    bottom:50%;
    transform:translate(-50%) rotate(calc(var(--rotate)*1deg));
    transform-origin: bottom;
}

.hour-hand{
    width:12px;
    height:130px;
    background: linear-gradient(#00d9ff,#ee00ff);
}

.minute-hand{
    width:12px;
    height:190px;
    background:linear-gradient(to top,#94f602,#fa515f);
}

.second-hand{
    width:6px;
    height:205px;
    background:linear-gradient(to top,#00d9ff,#9c7ced);
}